@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  #quote-pdf-sheet, #quote-pdf-sheet * {
    visibility: visible;
  }
  #quote-pdf-sheet {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    margin: 0 !important;
    padding: 20px !important;
    box-shadow: none !important;
    border: none !important;
  }
}
